h1, h2, h3, h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
}

h1 {
  font-size: 100px;
  margin-top: 100px;
}

h2 {
  font-size: 50px;
  padding-bottom: 40px;
}

h3 {
  font-size: 30px;
}

#about h2 {
  border-bottom: 10px solid rgb(186, 188, 220);
}

#resume h2, #skills h2 {
  border-bottom: 10px solid #f8b68a;
  color: #816a5d;
}

p {
  font-size: 20px;
}

nav, p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.bold {
  font-weight: bold;
  letter-spacing: 4px;
}

.medium {
  font-size: 30px;
}

.smaller {
  font-size: 20px;
}

header {
  min-height: 400px;
  padding-bottom: 0px;
}
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 40px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  padding-top: 20px;
  justify-content: center;
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a {
  color: white;
  background-color: #0e2359;
  padding: 9px 15px;
  border-radius: 50%;
  border: 3px solid #0e2359;
  height: 60px;
  width: 60px;
  box-shadow: 0 0 6px gray;
}
header .social li a:hover {
  color: #0e2359;
  background-color: white;
  border: 3px solid #0e2359;
}
header .banner {
  background: rgba(22, 20, 21, 0.4431372549) url(../../images/pond-landscape.jpeg) no-repeat top center;
  background-size: cover !important;
  width: 100%;
  padding-bottom: 100px;
}
header .blurb {
  background-color: rgba(255, 255, 255, 0.768627451);
  width: 650px;
  margin: auto;
  padding: 30px;
}
header .blurb .blurb p {
  text-wrap: wrap;
}

section {
  width: 100%;
  margin: 0px;
}

#about {
  background-color: rgba(195, 197, 237, 0.6);
}
#about .profile-pic {
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
}
#about .profile-pic img {
  width: 300px;
}

#skills ul img {
  width: 100px;
}
#skills ul .icon p {
  opacity: 0;
}

#contact {
  background-color: #0e2359;
  color: white;
}
#contact .contact-info {
  gap: 10% !important;
}

button.download {
  padding: 20px;
}

nav#main-nav ul li {
  text-transform: uppercase;
}
nav#main-nav ul li a {
  text-decoration: none;
  color: #0e2359;
  padding-bottom: 10px;
}
nav#main-nav ul.desktop li {
  font-size: 30px;
}
nav#main-nav ul.desktop li a:focus, nav#main-nav ul.desktop li a:hover {
  color: #313131;
  border-bottom: 5px solid #313131;
}
nav#main-nav ul.desktop li a.selected {
  border-bottom: 5px solid #313131;
}
nav#main-nav .mobile-nav {
  padding: 0px !important;
  position: relative;
  background-color: white;
  margin: 0px;
}
nav#main-nav .mobile-nav ul {
  width: 100%;
  gap: 0px;
  margin: 50px 20px 0px 0px;
  text-align: end;
}
nav#main-nav .mobile-nav ul li {
  font-size: 50px;
  width: 100%;
  padding: 10px 0px;
  margin: 0px;
  border-bottom: 1.5px dashed #838c95;
}
nav#main-nav .mobile-nav ul li a {
  padding: 0px 30px;
}
nav#main-nav .mobile-nav ul li:has(a:hover) {
  background-color: #0e2359;
}
nav#main-nav .mobile-nav ul a:focus, nav#main-nav .mobile-nav ul a:hover {
  color: white;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 1170px) {
  #about .flex-row {
    flex-direction: column !important;
  }
  #about .profile-pic {
    overflow: hidden;
    border-radius: 50px;
    height: 500px;
    width: 100%;
  }
  #about .profile-pic img {
    width: 100%;
    top: -50%;
    position: relative;
  }
  .indent-left {
    margin-left: 0px !important;
  }
  .blurb {
    width: 80% !important;
  }
  nav#main-nav ul.desktop {
    display: none !important;
  }
  nav#main-nav .mobile-btn {
    display: block !important;
  }
  nav#main-nav.open .mobile-nav {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .mobile-nav {
    margin: auto;
    right: 0px;
  }
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul, ol {
  list-style: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

hr {
  display: none;
}

button, .skip-link {
  color: #0e2359;
  background-color: #fff;
  padding: 20px 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 20px;
}

button:hover, nav#main-nav.open .mobile-btn {
  color: #fff;
  background-color: #0e2359;
}

button.download, .skip-link {
  text-transform: lowercase;
  border-radius: 5px;
  box-shadow: 0 0 6px #838c95;
}

.skip-link {
  border: 4px solid #816a5d;
  position: absolute;
  opacity: 0;
  text-decoration: none;
  font-size: 30px;
}

.skip-link:focus {
  opacity: 1;
}

.mobile-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.mobile-btn-wrap .mobile-btn {
  display: none;
  z-index: 2;
  margin-right: 30px;
  padding: 20px 30px;
  width: fit-content;
  border-radius: 5px !important;
  z-index: 2;
}
.mobile-btn-wrap .mobile-btn div {
  height: 10px;
  background-color: black;
  margin: 15px 5px;
}

/*# sourceMappingURL=index.css.map */
