// Colors
$white: #fff
$grey: #838c95
$black: #313131
$light-orange: #f8b68a
$dark-orange: #F06000
$darker-orange: #816a5d
$light-yellow: #e9eeac
$dark-blue: #0e2359
$light-purple: #c3c5ed99
$dark-purple: #474b9e99
$dark-green: #2a815ceb

$box-shadow: 0 0 6px gray

$small-font: 20px
$med-font: 30px
$large-font: 50px
$larger-font: 100px

$tahoma: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
$arial: Arial, Helvetica, sans-serif


