@use 'base'

@media screen and (max-width: 1170px)
    #about 
        .flex-row
            flex-direction: column!important
        .profile-pic
            overflow: hidden
            border-radius: 50px
            height: 500px 
            width: 100%
            img 
                width: 100%
                bottom: 60%
                position: relative
    .indent-left
        margin-left: 0px!important
    .blurb
        width: 80% !important
    nav#main-nav
        ul.desktop
            display: none!important
        .mobile-btn
            display: block!important
            //position: fixed
    nav#main-nav.open .mobile-nav
        display: block
        //top: 0px!important
        height: 425px!important
        //transition: all 1s ease-in-out

@media screen and (max-width: 620px)
    .mobile-nav
        margin: auto
        right: 0px

    h1
        font-size: 70px


    #about
        .profile-pic
            height: fit-content