@media screen and (max-width: 1170px)
    #about 
        .flex-row
            flex-direction: column!important
        .profile-pic
            overflow: hidden
            border-radius: 50px
            height: 500px 
            width: 100%
            img 
                width: 100%
                top: -50%
                position: relative
    .indent-left
        margin-left: 0px!important
    .blurb
        width: 80% !important
    
@media screen and (max-width: 800px)
    nav#main-nav
        ul
            gap: 0px
        //.mobile-btn
            //display: block
            //position: fixed
            li 
                font-size: 50px;
                text-transform: uppercase;
                width: 100%;
                padding: 20px 0px;
                border-bottom: 5px solid grey;
                text-align: center;
                vertical-align: middle;