@use 'base'

nav#main-nav 
    ul li 
        text-transform: uppercase
        a 
            text-decoration: none
            color: base.$dark-blue
            padding-bottom: 10px
    // -----** Desktop **-----
    ul.desktop li    
        font-size: base.$med-font
        a:focus, a:hover
            color: base.$black
            border-bottom: 5px solid base.$black
        a.selected
            border-bottom: 5px solid base.$black

    // -----** MOBILE **-----
    .mobile-nav
        //display: none
        padding: 0px !important
        position: relative
        background-color: white
        margin: 0px 
        overflow: hidden
        height: 0px
        transition: height 1s
        -moz-transition: height 1s
        /* Firefox 4 */
        -webkit-transition: height 1s
        /* Safari and Chrome */
        -o-transition: height 1s
        //transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94)
        //top: -200px
        ul 
            width: 100%
            gap: 0px
            margin: 50px 20px 0px 0px
            text-align: end
            bottom: 0px
            position: absolute
            li
                font-size: base.$large-font
                width: 100%
                padding: 10px 0px
                margin: 0px
                border-bottom: 1.5px dashed base.$grey
                a
                    padding: 0px 30px
                //text-align: start
            li:has(a:hover)
                //border-bottom: 7px solid base.$dark-green
                background-color: base.$dark-blue
            a:focus, a:hover
                color: white
                //background-color: base.$dark-green
