@use 'base'

section
    width: 100%
    margin: 0px

#about 
    background-color: base.$light-purple
    .profile-pic
        width: 300px
        overflow: hidden
        border-radius: 50%
        img
            width: 300px
#skills
    ul
        img
            width: 100px
        .icon p
            opacity: 0

#contact
    background-color: base.$dark-blue
    color: white
    .contact-info
        gap: 10%!important

button.download
    padding: 20px