@use 'base'

section
    width: 100%
    margin: 0px

#about 
    background-color: base.$light-purple
    .profile-pic
        width: 300px
        overflow: hidden
        border-radius: 50%
        img
            width: 300px
#skills
    ul
        img
            width: 100px
        .icon p
            opacity: 0

#contact
    background-color: base.$dark-blue
    .contact-info
        gap: 10%!important
    ul 
        gap: 30px
        margin-bottom: 20px
        a 
            margin-bottom: 30px
            text-decoration: none
            border: 2px solid base.$dark-blue
            padding: 5px
            border-bottom: 2px solid white
            padding-bottom: 2px
        a:hover, a:focus
            border: 2px solid white    

a.download
    padding: 20px