@use 'base'

h1, h2, h3, h4
    font-family: base.$tahoma
    letter-spacing: 4px
h1
    font-size: base.$larger-font

h2
    font-size: base.$large-font
p
    font-size: base.$small-font

nav, p
    font-family: base.$arial
    letter-spacing: 2px