@use 'base'

h1, h2, h3, h4
    font-family: base.$tahoma
    letter-spacing: 4px
h1
    font-size: base.$larger-font
    margin-top: 100px

h2
    font-size: base.$large-font
    padding-bottom: 40px
h3
    font-size: base.$med-font

#about h2
    border-bottom: 10px solid rgb(186 188 220)

#resume, #skills
    h2
        border-bottom: 10px solid base.$light-orange
        color: base.$darker-orange

#contact 
    color: white
    a
        color: white
        // font-family: base.$tahoma


p, #contact a
    font-size: base.$small-font

nav, p, #contact a
    font-family: base.$arial
    letter-spacing: 2px
    
.bold
    font-weight: bold
    letter-spacing: 4px

.medium
    font-size: base.$med-font
.smaller
    font-size: base.$small-font