@use 'base'
@use 'text'

@use 'header'
@use 'section'
@use 'nav'
@use 'media-queries'

.sr-only 
    border: 0 
    clip: rect(0 0 0 0) 
    height: 1px 
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

ul, ol
    list-style: none
    margin-block-start: 0px
    padding-inline-start: 0px

hr 
    display: none

button, .skip-link
    color: base.$dark-blue
    background-color: base.$white
    padding: 10px
    text-transform: lowercase
    font-family: base.$tahoma
    margin: 20px
    border-radius: 20px
    box-sizing: border-box
    box-shadow: 0 0 6px base.$grey

button
    width: 100%

.skip-link 
    border: 4px solid base.$darker-orange
    position: absolute
    opacity: 0
    text-decoration: none
    font-size: base.$med-font



.skip-link:focus
    opacity: 1

.mobile-btn-wrap
    width: 100%
    display: flex
    justify-content: flex-end
    .mobile-btn 
        display: none
        //display: absolute
        z-index: 2
        margin-right: 30px
        width: 100px
        //float: right
        border-radius: 5px!important
        z-index: 2
        div
            height: 10px
            background-color: black
            margin: 15px 5px


