//@use 'base'
@use 'nav'

$white: #fff
$grey: #838c95
$black: #313131
$light-orange: #f8b68a
$dark-orange: #F06000
$darker-orange: #816a5d
$light-yellow: #e9eeac
$dark-blue: #0e2359
$light-purple: #a7a8cb

body
    display: flex
    flex-direction: column
    margin: 0px

header
    display: flex
    flex-direction: column
    align-items: center
    background-color: $darker-orange

    nav 
        width: 100%

        ul
            display: flex
            flex-direction: row
            justify-content: center
            margin: auto
    .banner 
        text-align: center
        
        .banner-text 
            span
                width: 50%




